.about__section-image {
  border-radius: 50%;
  overflow: hidden;
  transform: skew(15deg);
  transition: var(--transition);
}
.about__section-image:nth-child(even) {
  transform: skew(-15deg);
}
.about__section-image:hover {
  transform: skew(0);
}

.about__section-content h1 {
  margin-bottom: 2rem;
}
.about__section-content p {
  margin-bottom: 1rem;
}

.all-about {
  display: flex;
  gap: 10%;
}
.all-about .about__section-image {
  flex-basis: 40%;
}
.all-about .about__section-content {
  flex-basis: 50%;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
  .about__section-image {
    width: 60%;
  }
  .about__section-content h1 {
    margin-bottom: 1.5rem;
  }
  .about__section-content p {
    margin-bottom: 0.8rem;
  }
  .all-about,
  .row-reverse {
    gap: 3rem;
    flex-direction: column;
  }
}
/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
  .about__section-image {
    margin-inline: auto;
    width: 80%;
  }
  .all-about,
  .row-reverse {
    gap: 2rem;
  }
}