.main__header {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

.main__header-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main__header-left {
  margin-top: -3rem;
}
.main__header-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: var(--bold-light);
}
.main__header-left p {
  margin: 1rem 0 3.5rem;
  font-size: var(--font-medium);
}

.main__header-right {
  display: grid;
  place-items: center;
  position: relative;
}

.main__header-circle {
  width: 25rem;
  height: 25rem;
  background: linear-gradient(75deg, var(--color-secondary), transparent);
  border-radius: 50%;
  position: absolute;
  filter: blur(2px);
  transition: var(--transition);
}

.main__header-image {
  position: relative;
}

.main__header:hover .main__header-circle {
  filter: blur(7px);
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
  .main__header {
    padding: 12rem 0;
    height: 100vh;
  }
  .main__header-container {
    gap: 0.6rem;
  }
  .main__header-circle {
    width: 16rem;
    height: 16rem;
  }
  .main__header-image img {
    width: 90%;
  }
}