nav {
    height: 5rem;
    width: 100vw;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom-left-radius: var(--radius-big);
    border-bottom-right-radius: var(--radius-big);
    box-shadow: -2rem 2rem 5rem rgba($color: #000000, $alpha: 0.4);
}

/* only shows on medium and small screens */
.nav__toggle-btn {
    display: none;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 7rem;
    display: block;
}

.nav__links {
    display: flex;
    gap: 3.5rem;
    align-items: center;

    a {
        transition: var(--transition);

        &:hover {
            color: var(--color-secondary);
        }
    }
}

.active-nav {
    position: relative;
    display: block;

    &::after {
        content: '';
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background: var(--color-primary);
        position: absolute;
        left: calc(50% - 0.6rem);
        transform: rotate(45deg);
        margin-top: 0.9rem;
    }
}

/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 1024px) {
    .nav__toggle-btn {
        display: grid;
        place-items: center;
        background: transparent;
        font-size: 2.2rem;
        cursor: pointer;
        padding: 1rem;

        svg {
            color: var(--color-gray-100);
        }
    }

    .nav__links {
        position: absolute;
        top: 105%;
        right: 0;
        flex-direction: column;
        gap: 0;
        border-radius: var(--radius-small);
        overflow: hidden;
        perspective: 1000px;

        li {
            height: 4rem;
            width: 100%;
            box-shadow: -2rem 2rem 5rem rgba($color: #000000, $alpha: 0.4);
            animation: navAnimation 600ms ease forwards;
            transform: rotateX(90deg);
            opacity: 0;
            transform-origin: top;

            a {
                background: var(--color-primary);
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1rem 5rem 1rem 3rem;
            }
        }
    }

    /* animate menu drop-down */
    $delay-increment: 130ms;

    @for $i from 2 through 7 {
        .nav__links li:nth-child(#{$i}) {
            animation-delay: #{($i - 1) * $delay-increment};
        }
    }

    @keyframes navAnimation {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }

    .active-nav {
        display: none;
        position: static;
        color: var(--color-secondary);
        font-weight: var(--bold-regular);
    }

    .active-nav::after {
        display: none;
    }


    .show_nav {
        display: flex;
    }

    .hide_nav {
        display: none;
    }
}