.notfound__container {
  text-align: center;
  padding-top: 3rem;
}
.notfound__container h1 {
  font-size: 8rem;
}
.notfound__container h2 {
  margin: 5rem 0;
  font-size: 5rem;
}
.notfound__container p {
  font-size: 3rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  .notfound__container {
    text-align: center;
    padding-top: 5vw;
  }
  .notfound__container h1 {
    font-size: 13vw;
  }
  .notfound__container h2 {
    margin: 13vw 0;
    font-size: 10vw;
  }
  .notfound__container p {
    font-size: 8vw;
  }
}